<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 宣告此 App 相容 Leanback（TV）平台，不強制觸控螢幕 -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCLHdmiLauncher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TCLHdmiLauncher"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">

            <!-- 作為 TV Leanback Launcher（遙控器 Home 鍵） -->
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!-- 作為通用 Home Launcher（開機自動啟動） -->
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
